CCGestureRecognizer/CCSwipeGestureRecognizerGlue.cpp
CCGestureRecognizer/CCSwipeGestureRecognizerGlue.h
CCGestureRecognizer/CCLongPressGestureRecognizerGlue.cpp
CCGestureRecognizer/CCLongPressGestureRecognizerGlue.h
